@model UsersAccountViewModel
@{
    ViewData["Title"] = "UsersPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    @if (Model.Comment)
    {
        <div class="row">
            <a asp-controller="Comment" asp-action="AddCommentAndVote" class="btn btn-warning">Prosimy o głos i komentarz po wizycie</a>
        </div>
    }



    <div class="row">
        <div class="col-lg-12">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center bg-light">
            <h1>Powiadomienia</h1>
        </div>
        <br />
    </div>
   
    <div class="row">

        @if (Model.NotificationList != null && Model.NotificationList.Count > 0)
        {

        <ol class="bg-transparent">

            @foreach (var item in Model.NotificationList)
            {
            <li class="col col-lg-12 text-xl-left"><h4 >@item.NotificationText</h4></li>
            
            }

        </ol>


            
        }

    </div>








</div>