<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />


    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

    <script src="~/JavaScript/Notifications.js"></script>
    <script src="~/datepicker-pl.js"></script>

    <style>
        nav a {
            color: white
        }
    </style>

</head>
<body>

    <nav class="navbar navbar-expand-lg " style="background-color: black">


        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <a class="nav-item nav-link" asp-action="HomePage" asp-controller="Home">PogotowieCom</a>

                @if (User.Identity.IsAuthenticated)
                {

                    <a class="nav-item nav-link" @*style="color:white" *@ asp-action="UsersPanel" asp-controller="Home"> @User.Identity.Name </a>
                    <a class="nav-item nav-link" asp-action="LogOut" asp-controller="User">Wyloguj się </a>

                    if (User.IsInRole("Doktor"))
                    {
                        <a class="nav-item nav-link" asp-action="Settings" asp-controller="User">Ustawienia </a>
                        <a class="nav-item nav-link" asp-action="ManageAppointments" asp-controller="Appointment">Wizyty </a>
                    }

                    if (User.IsInRole("Administrator"))
                    {
                        <a class="nav-item nav-link" asp-action="AdminPanel" asp-controller="Admin">Panel Administracyjny </a>
                       
                    }

                    <br />
                    <div>
                        @await Component.InvokeAsync("ShowSpecialization")
                    </div>



                }
                else
                {
                    <a class="nav-item nav-link" asp-action="Login" asp-controller="User">Logowanie</a>
                    <a class="nav-item nav-link" asp-action="ChooseRole" asp-controller="User">Rejestracja </a>
                }




            </div>
        </div>
    </nav>

    @if (SignInManager.IsSignedIn(User))
    {

        var user = UserManager.GetUserAsync(User);

        

        <div class="row">
            <div class="col col-lg-12">
                @await Component.InvokeAsync(nameof(NotificationsSummary),user.Id )
            </div>
        </div>


    }




    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; PogotowieCom</p>
        </footer>
    </div>


    @RenderSection("Scripts", required: false)
</body>
</html>
