@model SelectPlaceViewModel

@{
    ViewData["Title"] = "ChoosePlace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row text-center">
        <div class="col-lg-12">
            <h2>Wybierz Miejsce Wizyty</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <form id="SelectPlace" asp-action="ShowPlaces" asp-controller="Appointment"
 data-ajax="true"
      data-ajax-method="Post"
      data-ajax-mode="replace"
      data-ajax-update="#SelectResult"                 
      data-ajax-success="Success"
      data-ajax-failure="Failure">
                <div class="row">
                    <div class="col-lg-4 form-group ">
                        <div><span asp-validation-for="Country" class="text-danger"></span></div>
                        <lable>Kraj</lable>
                        <input asp-for="Country" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 form-group ">
                        <div><span asp-validation-for="City" class="text-danger"></span></div>
                        <lable>Miasto</lable>
                        <input asp-for="City" class="form-control">
                    </div>
                </div><div class="row">
                    <div class="col-lg-4 form-group ">
                        <div><span asp-validation-for="Street" class="text-danger"></span></div>
                        <lable>Ulica</lable>
                        <input asp-for="Street" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 form-group ">
                        <div><span asp-validation-for="BuildingNumber" class="text-danger"></span></div>
                        <lable>Numer Budynku</lable>
                        <input asp-for="BuildingNumber" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 form-group ">
                        <div><span asp-validation-for="Room" class="text-danger"></span></div>
                        <lable>Pokój</lable>
                        <input asp-for="Room" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 form-group ">
                        <button type="submit" id="Search">Szukaj</button>
                    </div>
                </div>

            </form>

            <div class="row">
                <div class="col-lg-4 form-group ">
                    <a class="btn btn-primary" asp-action="AddPlace">Dodaj Miejsce</a>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div id="SelectResult" class="col-lg-12">
            <h2>Brak Wyników</h2>
        </div>
    </div>
</div>


<div id="divalert">

</div>






@section Scripts
    {





    <script type="text/javascript">

        function Success() {
            $("#divalert").text = "Yes";
        }
        function Failure() {
            $("#divalert").text = "No";

        }

   
    </script>
        }

