@model string
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h4>Ustawienia</h4>
        </div>
        
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a asp-action="ManageSpecializations" class="btn btn-warning">Zarządzaj Specializacjami</a>
        </div>
    </div>
</div>

